---
layout: empty
menu: champions-form  
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Каталог для проверки</h2>
  </div>

</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">     
      <p>Выставочное положение и т.п.</p>
      <div style="display:none">{% increment counter1 %}</div>
      {% assign groups = site.data.catalog2016 | group_by_exp:'group', "group['Группа']"| sort:"name" %}  

        {% for group in groups %}   
         {% assign breeds = group.items | group_by_exp:'breeds', "breeds['Порода']"| sort:"name" %}
                
                <h1 class="catalog text-center margin-bottom-10"> Группа: {{group.name}}<h2>           

        {% for breed in breeds %}
        {% assign types = breed.items | group_by_exp:'types', "types['Пол']"| sort:"name" %}
          <h4 class="catalog">Порода: {{breed.name}}<h3>           
          {% for sex in types %}
              <h2 class="catalog">
                {% if sex.name == 'Кобель' %}Кобели{% endif %} 
                {% if sex.name == 'Сука' %}Суки{% endif %} 
              </h2>      
       
          {% assign classes = sex.items | group_by_exp:'classes', "classes['Класс']" %}
          {% assign classorders = 'Беби, Бэби, Щенки, Юниоров, Промежуточный, Открытый, Победителей НКП, Чемпионов, Чемпионов НКП, Ветеранов' | split: ', ' %}
            {% for tclass in classorders %}
              {% for class in classes %}
                {% if class.name == tclass %}
                <h5 class="catalog">Класс: {{class.name}}</h5>
                
                {% assign results = class.items | sort:'Кличка' %}
                <div class="catalog-class">
                   {% for result in results %}
                    <p class="catalog"><b>{% increment counter1 %}.
                      <span class="text-uppercase">{{ result['Родословная №']}},</span>
                      <span class="text-uppercase">{{ result['Клеймо/чип']}}.</span>
                    </p>    
                   {% endfor %}   <!-- result-->   
                </div>
            {% endif %} 
              {% endfor %}  <!-- class-->       
          {% endfor %}  <!-- classorders-->       
         {% endfor %}  <!-- sex-->       
      {% endfor %}  <!-- breed-->    
      {% endfor %}  <!-- breed-->    

      </div>
  </div>
</div>         
      
  