---
layout: default
title: Щенки
---
<table border="0" id="table1" style="width: 100%;">
    <tbody>
        <tr>
            <td><img width="120" height="160" border="0" src="../public/images/site/schenki.gif" /></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>ИНФОРМАЦИЮ О ЩЕНКАХ МОЖНО УЗНАТЬ В РАЗДЕЛАХ "ПОРОДЫ", А ТАКЖЕ ПОЗВОНИВ НАМ В КЛУБ&nbsp; 8-499-7406501​​​</h3>

<hr>
<p>Продаются щенки<strong>&nbsp;кавказской овчарки</strong>.<br />
Рождены 07 мая 2014 года. Отец - Тибет Борз- Али, Мать - Эстель Борз-Али.<br />
Щенки привиты по возрасту, клеймо, выращиваются за городом.<br />
Родители имеют устойчивую психику, отличные охранные качества. Отец неоднократно проверен по потомству.<br />
Крови Лимана в накоплении. В помете 8 щенков: 4 кобеля и 4 суки. Документы РКФ.&nbsp;<br />
Контактный телефон:&nbsp;<strong>+ 7 901 547 23 59&nbsp;,&nbsp;+ 7 905 761 20 01&nbsp;</strong></p>
<p align="center">{% include photo.html photo="ko1.jpg" height="200" %}
{% include photo.html photo="ko2.jpg" height="200" %}
{% include photo.html photo="ko3.jpg" height="200" %}
{% include photo.html photo="ko4.jpg" height="200" %}
</p>

