---
layout: default
title: Щенки
---
<table border="0" id="table1" style="width: 100%;">
    <tbody>
        <tr>
            <td><img width="120" height="160" border="0" src="../public/images/site/schenki.gif" /></td>
            <td></td>
        </tr>
    </tbody>
</table>
<h3>ИНФОРМАЦИЮ О ЩЕНКАХ МОЖНО УЗНАТЬ В РАЗДЕЛАХ "ПОРОДЫ", А ТАКЖЕ ПОЗВОНИВ НАМ В КЛУБ&nbsp; 8-499-7406501​​​</h3>

<hr>
<p>Продаются щенки кавказской овчарки.&nbsp;<br />
Рождены 07 мая 2014 года. Отец - Тибет Борз- Али, Мать - Эстель Борз-Али.&nbsp;<br />
Щенки привиты по возрасту, выращиваются за городом. Клеймо. Документы РКФ.&nbsp;<br />
Родители имеют устойчивую психику, отличные охранные качества. Отец неоднократно проверен по потомству.&nbsp;<br />
Крови Лимана в накоплении. В помете 8 щенков.&nbsp;<br />
На продажу осталось 2 кобеля.&nbsp;<br />
Контактный телефон:<b> + 7 901 547 23 59 , + 7 905 761 20 01&nbsp;</b><br />
&nbsp;</p>

<p align="center">{% include photo.html photo="ko1.jpg" height="200" %}
{% include photo.html photo="ko2.jpg" height="200" %}
{% include photo.html photo="ko3.jpg" height="200" %}
{% include photo.html photo="ko4.jpg" height="200" %}
</p>

