---
layout: default
title: Кавказская овчарка
---
<h2>КРАТКАЯ ИСТОРИЧЕСКАЯ СПРАВКА</h2>
<p align="center">{% include photo.html photo="ko.jpg" height="300" %}
</p>
<p>Кавказская овчарка - порода, ведущая свое происхождение от древних собак Кавказа.<br />
Ареал распространения - территории, прилегающие к Кавказскому хребту,<br />
а также степные районы юга России.<br />
Формирование породы происходило не только в результате естественного отбора,<br />
но и под влиянием национальных традиций народов Кавказа.<br />
Исторически кавказские овчарки использовались для охраны стад и жилищ от хищников и агрессоров.<br />
Первое упоминание об использовании крупных догообразных собак войсками армянского царя Тиграна II относится к I веку до н. э.<br />
Селекционная работа с породой началась в СССР в конце 20-х годов XX века.<br />
В процессе селекции, как обязательные качества всегда культивировались физическая сила,<br />
уверенность и бесстрашие, остро развитый слух, хорошее зрение, наличие густой, непроницаемой для осадков шерсти.<br />
Все эти качества, а также выносливость позволяют людям использовать Кавказских овчарок<br />
в условиях различных климатических условий, включая и самые суровые.
  При правильном воспитании отношения между собакой и человеком становятся крепкими, 
кавказы проявляют большую привязанность и преданность к хозяевам, это собаки одного хозяина, испытанные защитники и телохранители.
 Но, даже в отношении человека, к которому они привязаны, их поведение остается независимым.
 Поэтому к обучению кавказа надо подходить очень серьёзно.
</p>

<p><br />
<em>Куратор породы-Сташевская Ирина. т.8-9057612001&nbsp; Сегодня в секции &quot;кавказская овчарка&quot;&quot; есть отличные щенки.</em></p>

<hr>
<p>Продаются щенки<strong>&nbsp;кавказской овчарки</strong>.<br />
Рождены 07 мая 2014 года. Отец - Тибет Борз- Али, Мать - Эстель Борз-Али.<br />
Щенки привиты по возрасту, клеймо, выращиваются за городом.<br />
Родители имеют устойчивую психику, отличные охранные качества. Отец неоднократно проверен по потомству.<br />
Крови Лимана в накоплении. В помете 8 щенков: 4 кобеля и 4 суки. Документы РКФ.&nbsp;<br />
Контактный телефон:&nbsp;<strong>+ 7 901 547 23 59&nbsp;,&nbsp;+ 7 905 761 20 01&nbsp;</strong></p>
<p align="center">{% include photo.html photo="ko1.jpg" height="200" %}
{% include photo.html photo="ko2.jpg" height="200" %}
{% include photo.html photo="ko3.jpg" height="200" %}
{% include photo.html photo="ko4.jpg" height="200" %}
</p>

