---
layout: default
title: Кавказская овчарка
---
Достойные восхищения


Кавказская овчарка – одна из древнейших пастушьих пород собак на земном шаре.

По различным источникам ей более 3 000 лет. Собаки отличаются крупными размерами, спокойным и невозмутимым нравом, достойными восхищения рабочими качествами. Порода сформировалась в суровых условиях гор Кавказа и Иранского плоскогорья. Вот почему кавказцы неприхотливы, обладают большой чуткостью, недоверчивостью к посторонним, а так же удивительной способностью – анализировать ситуацию и самостоятельно принимать решения.

Еще с древних времен эти сильные и смелые собаки применялись для охраны стад и жилищ от хищников, а так же в качестве боевых собак. Сохранились сведения, что кавказские овчарки были в войсках армянского царя Тиграна, ведущего войны за независимость страны.

В результате длительно применения для охраны и отбора по этим качествам кавказские овчарки без дрессировки имеют охранные навыки. Если Вы решили завести кавказскую овчарку, надо учесть самое главное, с собакой необходимо установить контакт. Кавказская овчарка воспринимает семью как стаю, являясь ее полноправным членом. Она охраняет ее и отстаивает ее интересы.

Поведение вашей собаки целиком и полностью зависит от Вас. Как ведете себя Вы, какое воспитание Вы считаете целесообразным для своего любимца, таким и станет Ваш пес.

Нет глупых, агрессивных собак, есть нерадивые владельцы.

Успехов Вам и взаимопонимания!!!
</p>
<p><br />
<em>Куратор породы-Сташевская Ирина. т.8-9057612001&nbsp; Сегодня в секции &quot;кавказская овчарка&quot;&quot; есть отличные щенки.</em></p>

<hr>
<p>Продаются щенки<strong>&nbsp;кавказской овчарки</strong>.<br />
Рождены 07 мая 2014 года. Отец - Тибет Борз- Али, Мать - Эстель Борз-Али.<br />
Щенки привиты по возрасту, клеймо, выращиваются за городом.<br />
Родители имеют устойчивую психику, отличные охранные качества. Отец неоднократно проверен по потомству.<br />
Крови Лимана в накоплении. В помете 8 щенков: 4 кобеля и 4 суки. Документы РКФ.&nbsp;<br />
Контактный телефон:&nbsp;<strong>+ 7 901 547 23 59&nbsp;,&nbsp;+ 7 905 761 20 01&nbsp;</strong></p>
<p align="center">{% include photo.html photo="ko1.jpg" height="200" %}
{% include photo.html photo="ko2.jpg" height="200" %}
{% include photo.html photo="ko3.jpg" height="200" %}
{% include photo.html photo="ko4.jpg" height="200" %}
</p>

