---
layout: default
title: Cреднеазиатская овчарка
---
<h4>Куратор - Сташевская Ирина Евгеньевна, т. 8-905-7612001 </h4>
{% include photo.html photo="DSC_1878.jpg" height="300" %}

<p><br />
Среднеазиатская овчарка (туркменский волкодав, алабай, тобет, бурибоссар, чапан-ит и т.д.) - крупная, сильная, выносливая собака, экономно расходующая свои силы.Это аборигенная (переходная) порода собак, имеющая тысячелетнюю историю.&nbsp;<br />
Природный регион формирования - огромная часть территории азиатского материка с прежним названием Туран (Страна тюркских народов), более поздними - Туркестан, Средняя Азия.<br />
В процессе формирования породы народной селекции происходит отбор собак по пользовательским качествам:собака должна защищать скот и чабанов от хищников, проходить большие расстояния по бездорожью, сохранять отличную физическую форму при весьма скудном питании.<br />
Порода имеет несколько внутрипородных типов, имеющих некоторые отличия в экстерьере и характере поведения.<br />
Азиат - собака с независимым характером, требующим отличных от традиционных методов воспитания.<br />
Спокойный нрав выгодно отличает САО от многих крупных караульных пород собак. В ареале естественного распространения собаки, как правило, содержаться свободно, и&nbsp;социально опасная собака там просто не нужна.Поэтому многовековой селекцией у этих овчарок закреплены достаточно терпимое отношение к человеку, уравновешенность поведения, ярко выраженная предупреждающая реакция при охране.<br />
Но в первую очередь САО - истинный волкодав, то есть собака, предназначенная для охраны&nbsp;отар и жилищ от волков и шакалов, а в прошлом и от более крупных хищников.<br />
Этим обусловлены особенности поведения и физиологии представителей данной породы: шерсть практически не имеет специфичного &quot;собачьего&quot; запаха, &quot;самоочищается&quot;; собаки менее шумные при содержании и охране, более самостоятельны при оценке ситуации и выборе вариантов действий. Это нужно учитывать, если Вы решили завести среднеазиатскую овчарку.</p>
{% include photo.html photo="DSCF1376.jpg" height="300" %}
{% include photo.html photo="DSCF1407.jpg" height="300" %}
{% include photo.html photo="DSCF1790.jpg" height="300" %}
