h1 {
  color: red;
  font-size: 2em;
  text-align:center;
  font-weight: bold;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  font-family: 'Caveat', sans-serif;
  
}
h2{
  font-size: 1.8em;
  text-align:center;
  font-weight: bold;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  font-family: 'Caveat', sans-serif;

}
h3{
  font-size: 1.6em;
  text-align:center;
  font-weight: bold;
  color: red;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
  
}
h4{
  font-size: 1.4em;
  text-align:center;
  font-weight: bold;
  color: green;
  margin-bottom: 1.2em;
  margin-top: 1.2em; 
}

h5{
  font-size: 1.2em;
  text-align:center;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1em;
  margin-top: 1em; 
}
h6{
  font-size: 1.2em;
  text-align:left;
  font-weight: bold;
  color: green;
  margin-bottom: 1em;
  margin-top: 1em; 
}
/* SuperBox */
.superbox {
  text-align:center;
}
.superbox-list {
	display:inline-block;
	*display:inline;
	zoom:1;
	height:100px;
}
.superbox-list img{
	border:none;
	margin: 0px;
}
.superbox-img {
	max-width:100%;
	cursor:pointer;
	border:none;
}
.superbox-show {
	text-align:center;
	position:relative;
	background:#666;
	box-shadow:inset 0 1px 5px #555;
	-webkit-box-shadow:inset 0 1px 5px #555;
	-moz-box-shadow:inset 0 1px 5px #555;
	width:100%;
  float:left;
	display:none;
}
.superbox-current-img {
	max-width:700px;
  border:none;
}
.superbox-img:hover {
	opacity:0.8;
}
.superbox-float {
	float:left;
}
.superbox-close {
	opacity:0.7;
	cursor:pointer;
	position:absolute;
	top:25px;
	right:25px;
	background:url(../img/close.gif) no-repeat center center;
	width:35px;
	height:35px;
}
.superbox-close:hover {
	opacity:1;
}


.big-button  .button {

    display: inline-block;
    margin: 0 auto;
    
    -webkit-border-radius: 10px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
} 

.big-button  .button span {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    
    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    
    display: inline-block;
    padding: 10px 40px 10px 40px;
    
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;
    
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.big-button .button span:hover {
            color: #AEBF3B;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

.big-button .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

.big-button .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

.big-button .button span:after {
        content: ">";
        display: block;
        width: 10px;
        height: 10px;
    
        position: absolute;
        right: 14px;
        top: 12px;    
        
        font-family: 'Cabin';
        font-weight: 700;
        color: #AEBF3B;
        text-shadow: 0px 1px #fff, 0px -1px #97A63A;
        font-size: 26px;
    }
.red-text{
  color: red !important;
}
.green-text{
  color: green !important;
}
.text-center{
  text-align:center !important;
}
.margin-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-top-20{
  margin-top: 20px;
}

.hr-m{	border-bottom: 1px solid #ddd;
	padding-bottom:2px;
	margin:20px;
}
