			<div class="navbar navbar-default mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<div class="row">
							<div class="col-md-1 col-md-offset-1 text-right">
								<a class="navbar-brand1" href="index.html">
									<img id="logo-header" src="{{ site.url }}/assets/img/logo.png" alt="Logo">
								</a>
							</div>
							<div class="col-md-8 text-center main-h">
                <span class="main-h_2">Центр Любителей Животных</span> <br>
                <span class="main-h_1"> ЛИДЕР & ПРЕСТИЖ</span>							
              </div>
						</div>
            <div class="row">
              <div class="col-md-12 ">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="full-width-menu">Меню</span>
							<span class="icon-toggle">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
						</button>
              </div>
            </div>
					</div>
				</div>

				<div class="clearfix"></div>

				<!-- Collect the nav links, forms, and other content for toggling -->
        
				<div class="collapse navbar-collapse navbar-responsive-collapse">
					<div class="container">
						<ul class="nav navbar-nav">
              
              <li><a href="/">Главная</a></li>
              
							<!-- Home -->
							<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									О клубе
								</a>
								<ul class="dropdown-menu">
									<li><a href="/about.html">О нас</a></li>
                  <li><a href="/news.html">Новости клуба</a></li>
                  <li><a href="/useful.html">Важная информация</a></li>
                  <li><a href="/congratulations.html">Поздравляем!</a></li>
                  <li><a href="/friends.html">Наши друзья</a></li>
                  <li><a href="/from-the-heart.html">Из глубины сердца</a></li>      
                  <li><a href="/photo.html">Фото</a></li>
									<li class="dropdown-submenu">
										<a href="javascript:void(0);">На заметку</a>
										<ul class="dropdown-menu">
                      <li><a href="/interesting/zootovaru.html">Зоотовары</a></li>
                      <li><a href="/interesting/training.html">Дрессировка</a></li>
                      <li><a href="/interesting/grooming.html">Груминг</a></li>
                      <li><a href="/interesting/handling.html">Хэндлинг</a></li>
                      <li><a href="/interesting/zootaxi.html">Зоотакси</a></li>
										</ul>
									</li>                  
                  <li><a href="/archive.html">Архив</a></li>

								</ul>
							</li>   
              
              <li><a href="/shows.html">Выставки</a></li>
              
              
  						<li class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Породы
								</a>
								<ul class="dropdown-menu">
                  <li><a href="/breeds/american-cocker-spaniel.html">Американский кокер спаниель</a></li>
                  <li><a href="/breeds/american-staffordshirterer.html">Американский стаффордширтерьер</a></li>
                  <li><a href="/breeds/basenji.html">Басенджи</a></li>
                  <li><a href="/breeds/bernese-mountain-dog.html">Бернский зенненхунд</a></li>
                  <li><a href="/breeds/beagle.html">Бигль</a></li>
                  <li><a href="/breeds/bobtail-maltese.html">Бобтейл, Хаски, Тибетский терьер</a></li>             
                  <li><a href="/breeds/bullmastiff.html">Бульмастиф</a></li>
                  <li><a href="/breeds/bulldogge.html">Бульдог</a></li>
                  <li><a href="/breeds/cardigan-welsh-corgi.html">Вельш Корги Кардиган</a></li>
                  <li><a href="/breeds/west-highland-white-terrier.html">Вест-Хайленд Вайт Терьер</a></li>
                  <li><a href="/breeds/veo-dog.html">Восточно-Европейская Овчарка</a></li>
                  <li><a href="/breeds/greyhound.html">Грейхаунд</a></li>
                  <li><a href="/breeds/griffons.html">Гриффоны</a></li>
                  <li><a href="/breeds/jack-russel-terrier.html">Джек Рассел терьер</a></li>
                  <li><a href="/breeds/irish-setter.html">Ирландский сеттер</a></li>
                  <li><a href="/breeds/yorkshire-terrier.html">Йоркшир-Терьер</a></li>
                  <li><a href="/breeds/kavkazskaya-ovcharka.html">Кавказская овчарка</a></li>
                  <li><a href="/breeds/cairn-terrier.html">Керн Терьер</a></li>
                  <li><a href="/breeds/kerry-blue-terrier.html">Керри Блю Терьер</a></li>
                  <li><a href="/breeds/chinese-crested-dog.html">Китайская Хохлатая Собака</a></li>                                
                  <li><a href="/breeds/soft-coated-wheaten-terrier.html">Мягкошерстный Пшеничный терьер</a></li>
                  <li><a href="/breeds/pug.html">Мопс</a></li>         
                  <li><a href="/breeds/german-shepherd.html">Немецкая овчарка</a></li>             
                  <li><a href="/breeds/newfoundland.html">Ньюфаундленд</a></li>
                  <li><a href="/breeds/pekingese.html">Пекинес</a></li>
                  <li><a href="/breeds/riesenschnauzer.html">Ризеншнауцер, цвергшнауцер</a></li>
                  <li><a href="/breeds/sao.html">Среднеазиатская овчарка</a></li>              
                  <li><a href="/breeds/thai-ridgeback.html">Тайский Риджбек</a></li>             
                  <li><a href="/breeds/pharaohs-dog.html">Фараонова Собака</a></li>
                  <li><a href="/breeds/french-bulldog.html">Французский бульдог</a></li>
                  <li><a href="/breeds/miniature-schnauzer.html">Цвергшнауцер</a></li>              
                  <li><a href="/breeds/chihuahua.html">Чихуахуа</a></li>
                  <li><a href="/breeds/sheltie.html">Шелти</a></li>
                  <li><a href="/breeds/shih-tzu.html">Ши-Тцу</a></li>
                  <li><a href="/breeds/spitz.html">Шпиц</a></li>
								</ul>
							</li>

              <li><a href="/competitions.html">Испытания и Соревнования</a></li>
              <li><a href="/courses.html">Семинары и курсы</a></li>
              <li><a href="/puppies.html">Щенки</a></li>
              

              
              <li><a href="/contact.html">Контакты</a></li>

						</ul>


					</div><!--/end container-->
				</div><!--/navbar-collapse-->
</div>

