	<ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li><a href="/">Главная/Home</a></li>
    <li><a href="/about.html">О нас / About company</a></li>
    <li><a href="/news.html">Новости клуба / News</a></li>
    <li><a href="/shows.html">Выставки / Shows</a></li>
    <li class="list-group-item list-toggle" data-toggle="collapse" data-parent="#sidebar-nav" ><a href="#">Породы /Sub - Breeds</a>
          <ul  id="collapse-typography" class="collapse">
              <li><a href="/breeds/american-cocker-spaniel.html">Американский кокер спаниель</a></li>
              <li><a href="/breeds/american-staffordshirterer.html">Американский стаффордширтерьер</a></li>
              <li><a href="/breeds/basenji.html">Басенджи</a></li>
              <li><a href="/breeds/bernese-mountain-dog.html">Бернский зенненхунд</a></li>
              <li><a href="/breeds/beagle.html">Бигль</a></li>
              <li><a href="/breeds/bobtail-maltese.html">Бобтейл, Хаски, Тибетский терьер</a></li>             
              <li><a href="/breeds/bullmastiff.html">Бульмастиф</a></li>
              <li><a href="/breeds/bulldogge.html">Бульдог</a></li>
              <li><a href="/breeds/cardigan-welsh-corgi.html">Вельш Корги Кардиган</a></li>
              <li><a href="/breeds/west-highland-white-terrier.html">Вест-Хайленд Вайт Терьер</a></li>
              <li><a href="/breeds/veo-dog.html">Восточно-Европейская Овчарка</a></li>
              <li><a href="/breeds/greyhound.html">Грейхаунд</a></li>
              <li><a href="/breeds/griffons.html">Гриффоны</a></li>
              <li><a href="/breeds/jack-russel-terrier.html">Джек Рассел терьер</a></li>
              <li><a href="/breeds/irish-setter.html">Ирландский сеттер</a></li>
              <li><a href="/breeds/yorkshire-terrier.html">Йоркшир-Терьер</a></li>
              <li><a href="/breeds/kavkazskaya-ovcharka.html">Кавказская овчарка</a></li>
              <li><a href="/breeds/cairn-terrier.html">Керн Терьер</a></li>
              <li><a href="/breeds/kerry-blue-terrier.html">Керри Блю Терьер</a></li>
              <li><a href="/breeds/chinese-crested-dog.html">Китайская Хохлатая Собака</a></li>                                
              <li><a href="/breeds/soft-coated-wheaten-terrier.html">Мягкошерстный Пшеничный терьер</a></li>
              <li><a href="/breeds/pug.html">Мопс</a></li>         
              <li><a href="/breeds/german-shepherd.html">Немецкая овчарка</a></li>             
              <li><a href="/breeds/newfoundland.html">Ньюфаундленд</a></li>
              <li><a href="/breeds/pekingese.html">Пекинес</a></li>
              <li><a href="/breeds/riesenschnauzer.html">Ризеншнауцер, цвергшнауцер</a></li>
              <li><a href="/breeds/sao.html">Среднеазиатская овчарка</a></li>              
              <li><a href="/breeds/thai-ridgeback.html">Тайский Риджбек</a></li>             
              <li><a href="/breeds/pharaohs-dog.html">Фараонова Собака</a></li>
              <li><a href="/breeds/french-bulldog.html">Французский бульдог</a></li>
              <li><a href="/breeds/miniature-schnauzer.html">Цвергшнауцер</a></li>              
              <li><a href="/breeds/chihuahua.html">Чихуахуа</a></li>
              <li><a href="/breeds/sheltie.html">Шелти</a></li>
              <li><a href="/breeds/shih-tzu.html">Ши-Тцу</a></li>
              <li><a href="/breeds/spitz.html">Шпиц</a></li>
      </ul></li>        
    <li><a href="/competitions.html">Испытания/Соревнования</a></li>
    <li><a href="/courses.html">Семинары/курсы</a></li>
    <li><a href="/puppies.html">Щенки/ Puppies</a></li>
    <li><a href="/photo.html">Фото</a></li>
    <li><a href="/congratulations.html">Поздравляем!/Congratulations!</a></li>
    <li><a href="/useful.html">Важная информация/ Useful Information</a></li>
    <li><a href="/friends.html">Наши друзья/ Our friends</a></li>
    <li class="list-group-item list-toggle"><a href="/state">На заметку</a>
          <ul  id="collapse-typography" class="collapse">
              <li><a href="/interesting/zootovaru.html">Зоотовары</a></li>
              <li><a href="/interesting/training.html">Дрессировка</a></li>
              <li><a href="/interesting/grooming.html">Груминг</a></li>
              <li><a href="/interesting/handling.html">Хэндлинг</a></li>
              <li><a href="/interesting/zootaxi.html">Зоотакси</a></li>
        </ul></li>
    <li><a href="/contact.html">Контакты/ Contact us</a></li>
    <li><a href="/archive.html">Архив</a></li>
    <li><a href="/from-the-heart.html">Из глубины сердца</a></li>
  </ul>
